.container {
  display: flex;
  align-items: center;
  padding: 0 160px;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background-color: var(--color-accent);
}

.titleWrap {
  margin-left: 16px;
}

.iconWrap {
  margin-right: 10px;
  width: 43px;
  height: 43px;
}

.icon {
  width: 43px;
  height: 43px;
}
